In [33]:
import pandas as pd

In [34]:
df_meteo = pd.read_csv("data/meteo_data_preprocessed.csv")
# load already gap fille data
df_fluxes = pd.read_csv("data/flux_data_preprocessed_gapfilled.csv")

In [35]:
df = df_meteo.merge(df_fluxes, how="outer", on=["TIMESTAMP_START", "location"])

In [43]:
# select subset where either H_orig or LE_orig are NaN
mask = df[["H_orig", "LE_orig"]].isna().any(axis=1)
subset_df = df[mask]

In [44]:
# look how many nan values are in each column

(16243, 28)

In [45]:
subset_df.head()

,TIMESTAMP_START,incomingShortwaveRadiation,outgoingShortwaveRadiation,soilHeatflux,airPressure,waterPressureDeficit,waterVaporPressure,relativeHumidity,windSpeed,location,...,NEE_orig,NEE_f,Reco,GPP_f,Ustar,date,year,month,day,30min
0,2023-01-01 00:00:00,-3.695000,-0.092667,5.301667,984.325000,6.826310,9.721517,58.748000,2.980000,0,...,NaN,13.359751,2.44475,-10.9150,NaN,2023-01-01 00:00:00,2023.0,1.0,1.0,0.0
1,2023-01-01 00:00:00,-1.324667,0.857667,NaN,956.000000,6.556116,8.893061,57.563333,8.014000,1,...,NaN,NaN,3.16985,NaN,NaN,2023-01-01 00:00:00,2023.0,1.0,1.0,0.0
2,2023-01-01 00:30:00,-4.819000,-0.026667,5.039000,984.493333,6.667064,9.633030,59.098000,3.113000,0,...,NaN,9.337939,2.42177,-6.9162,NaN,2023-01-01 00:30:00,2023.0,1.0,1.0,1.0
3,2023-01-01 00:30:00,-1.767333,1.208333,NaN,956.000000,6.466390,8.855598,57.796667,7.907333,1,...,NaN,NaN,3.14542,NaN,NaN,2023-01-01 00:30:00,2023.0,1.0,1.0,1.0
4,2023-01-01 01:00:00,-4.449333,0.007667,4.445333,984.536667,6.568903,9.598582,59.369667,2.817000,0,...,NaN,9.337939,2.40937,-6.9286,NaN,2023-01-01 01:00:00,2023.0,1.0,1.0,2.0